html {
  text-align: center;
  background-color: #c1cbcc;
}

#albumgallery {
  display: flex;
  justify-content: center;
}

#firstAlbum,
#secAlbum,
#thirdAlbum {
  display: none;
  justify-content: center;
}

.toggleclass {
  display: block !important;
}

#form {
  display: none;
}

#pcgallery {
  display: flex;
  justify-content: center;
}

#allAlbum {
  display: none;
}

#addNextAlbum,
#refreshAlbum {
  display: none;
}

button {
  display: inline;
}
